{% extends "base.html" %}{% load static %}{% load bootstrap4 %}

{% block head %}
    <title> Dashboard </title>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Birth Certificate Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <form method="post" >
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success" >Submit</button>
            </form>
        </div>
    </main>
    <br>    <br>
    <br>

{% endblock %}
